[user]
  name = Josh Sherman
  email = joshsherman@gmail.com

[github]
  user = joshtronic

[credential]
  helper = cache --timeout=86400

[color]
  branch = auto
  diff = auto
  status = auto

[core]
  editor = vim

[diff]
  compactionHeuristic = true
  rename = copy
  check = true

[pager]
  color = true

[init]
  defaultBranch = main

[push]
  default = simple

[pull]
  rebase = true

[commit]
  gpgsign = true
  template = ~/.gitmessage
  verbose = true

[help]
  autocorrect = 1

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[url "ssh://git@"]
  insteadOf = git://
