[submodule ".tpm"]
	path = .tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".antigen"]
	path = .antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".vundle"]
	path = .vundle
	url = https://github.com/gmarik/vundle.git
