[submodule "vendor/fetchlogic/ship"]
	path = vendor/fetchlogic/ship
	url = git@github.com:fetchlogic/ship.git
[submodule "vendor/seebi/dircolors-solarized"]
	path = vendor/seebi/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "vendor/zsh-users/zsh-completions"]
	path = vendor/zsh-users/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "vendor/zsh-users/zsh-syntax-highlighting"]
	path = vendor/zsh-users/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vendor/zsh-users/zsh-history-substring-search"]
	path = vendor/zsh-users/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
[submodule "vendor/olivierverdier/zsh-git-prompt"]
	path = vendor/olivierverdier/zsh-git-prompt
	url = git@github.com:olivierverdier/zsh-git-prompt.git
