[Desktop Entry]
Encoding=UTF-8
Name=XMonad/Gnome (without gnome-panel)
Comment=Lightweight tiling window manager
Exec=gnome-session --session=xmonad
TryExec=/usr/bin/gnome-session
Icon=xmonad.png
Type=XSession
