/* Ditch the rounded corners on the top panel */
#panel .panel-corner {
  -panel-corner-radius: 0;
  -panel-corner-background-color: transparent;
  -panel-corner-border-width: 0;
  -panel-corner-border-color: transparent;
}

/* Give app icon consistent padding with activities and status */
#panel .panel-status-menu-box {
  padding: 0 12px;
}
